@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root{
    --header-height:3rem;
    --font-semi:600;
    /*font and typography*/
    --body-font:"Poppins" , sans-serif;
    --large-font-size:2rem;
    --h2-font-size:1.5rem;
    --normal-font-size:.938rem;
    --small-font-size:.75rem;
    /*colors and hue*/
    --first-color:rgb(5, 5, 5);
    --second-color:rgba(238, 245, 242);
    /*===== Margenes =====*/
    --margin-1: 1rem;
    --margin-2: 2rem;
    --margin-3: 2.5rem;
    --margin-4: 3rem;
    /*===== z index =====*/
    --z-back: -10;
    --z-fixed: 100;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: var(--header-height) 0 0 0;
    font-family:var(--body-font);
    font-size:var(--normal-font-size);
    color:var(--first-color);
}

*,::before,::after{
    box-sizing:border-box;
}

ul{
    margin:0;
    padding:0;
}
li{
    margin:0;
    list-style:none;
}
a{
    text-decoration:none;
    color:#000000;
}
img{
    max-width:100%;
    height:auto;
    display:block;
}

/* layout*/
.header{
    width:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:var(--z-fixed);
    background-color:#fff;
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}
.background{
    max-width:100%;
    display:grid;
    margin-left:var(--margin-1);
    margin-right:var(--margin-1);
}

/*============nav==============*/

.nav{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items:center;
}

.nav__logo{
    display:flex;
}
.nav__logo__image{
    font-size:2rem;
    font-weight:var(--font-semi);
}

.nav__list{
    display:flex;
}

.nav__links{
    padding-left:var(--margin-3);
    font-size:var(--h2-font-size);
}


.nav__toggle{

}

/*==========Home==========*/

.home{
    position:relative;
    row-gap:5rem;
    padding:4rem 0 5rem;
}

.home__container{
    display:grid;
    grid-template-columns: 50% 50%;
    color:black;
}

.home__text__container{
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
}
.home__title{
    font-size:3rem;
}

.home__box{
    display:grid;
    text-align:start;
    grid-template-columns:40% 40%;
}

.home__text{
    width:90%;
}

.home__text__bold{
    font-weight: bold;
    font-size: var(--h2-font-size);
}
/*==========about==========*/

.about__container{
    display:grid;
    grid-template-columns:30% 70%;
}

.about__images{
    display:grid;
    row-gap:10rem;
}

.about__large__text{
    font-size:3rem;
}

.about__larger__text{
    font-size:2rem;
    padding-top:var(--margin-3);
    padding-bottom:var(--margin-3);
}

/*==========blog==========*/
.blog__container{
    display:grid;
    row-gap:10rem;
}
.blog__title{
    max-width:1024px;
    text-align:center;
}
.blog__heading{
    font-size:3rem;
    font-weight:100;
    color:burlywood;
}
.blog__subheading{
    font-weight:100;
}

.blog-1{
    display:flex;
    justify-content: space-around;
    flex-direction:row;
    row-gap:3rem;
}
.blog-2{
    display:flex;
    flex-direction:row-reverse;
    justify-content: space-around;
    row-gap:3rem;
}
.blog__text{
    max-width:800px;
}

.blog__header{
    font-size:1.5rem;
}

.blog__subheader{
    font-size:2.1rem;
}

.blog__paragraph{
    font-weight:lighter;
}

.blog__tag{
    font-size:1.2rem;
}

/*==========stats=======*/

.stats__container{
    display:grid;
    row-gap:2rem;
    background:rgb(248, 244, 204);
}

.stats-1{
    display:flex;
    justify-content: space-evenly;
}

.stats__card{
    display:grid;
    background:white;
    width:15rem;
    line-height:15px;
    height:10rem;
    padding:1rem;
}

.stats-2{
    display:flex;
    flex-direction:row;
    text-align: center;
    justify-content: space-around; 
}
.stats-3{
    display:flex;
    flex-direction:row;
    justify-content: space-around; 
}


.stats__number{
    font-size:var(--large-font-size);
    font-family: 'Times New Roman', Times, serif;
}

.stats__text{
    font-size:var(--normal-font-size);
}

.stats__title{
    font-size:var(--large-font-size);
}

.stats__subtitle{
    font-size:var(--h2-font-size);
    font-weight:100;
}

/*=========contact=========*/
.contact__container{
    display:grid;
}

.contact__card{
    display:flex;
    justify-content:center;

}

.contact__text{
    display:flex;
    flex-direction:column;
    background-color:rgba(171, 192, 171, 0.541);
    align-items:center;
    line-height:1rem;
}

.contact__title{
    font-size:var(--large-font-size);
    font-family:'Times New Roman', Times, serif;
}

.contact__subtitle{
    font-size:2.5rem;
    font-weight:100;
}

.contact__paragraph{
    width:60%;
    line-height:2rem;
}

.contact__link{
    font-size:var(--h2-font-size);
}

.call__to__action{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.motto{
    font-size:var(--large-font-size);
}


.get__in__touch{
    border:2px solid rgba(144, 200, 144, 0.541);
    background:transparent;
    color:rgba(144, 200, 144, 0.541);
    font-size:var(--h2-font-size);
    border-radius:20px;
    padding:5px 30px;
}

.get__in__touch:hover{
    background:rgba(144, 200, 144, 0.541);
    color:white;
}

/*========footer==========*/

.footer{
    background:rgba(144, 200, 144, 0.541);
}

.footer__container{
    display:flex;
    height:var(--header-height);
    flex-direction:row-reverse;
    justify-content:space-around;
}
.footer__links{
    padding-left:var(--margin-3);
}
.footer__logo{
    display:flex;
}

.footer__logo img{
    width:50px;
    border-radius:20px;

}

/*===========MEDIA QUERIES============*/

@media(max-width:1024px){
    .about__large__text{
        font-size:2.7rem;
    }
    .contact__card img{
        height:15rem;
        position:relative;
        top:5rem;
        right:-5rem;
    }
    .contact__subtitle{
        width:80%;
        line-height:2.5rem;
        text-align:center;
    }
    .blog-1 img{
        height:60%;
    }
    .blog-2 img{
        height:60%;
    }
    .footer__container{
        height:20rem;
        display:grid;
    }
    .footer__logo img{
        height:3rem;
    }
}

@media(max-width:768px){
    .header{
        height:var(--large-font-size);
    }
    .nav{
        align-items:flex-start;
        justify-content:space-between;
    }
    .nav__logo__image{
        font-size:var(--normal-font-size);
        min-width:100%;
    }
    .nav__logo img{
        height:var(--h2-font-size);
    }
    .nav__menu{
        transform:translateY(-150%);
    }
    .home__container{
        display:flex;
        flex-direction:column-reverse;
        margin-left:var(--margin-4);
        align-items:center;
    }
    .blog-1{
        height:60%;
    }
    .blog-2{
        height:60%;
    }
    .motto{
        display:flex;
        justify-content:center;
        text-align:center;
    }
}
@media(max-width:425px){
    .nav{
        display: flex;
        justify-content: space-between;
    }
    .home__box{
        display:flex;
        flex-direction:column;
    }
    .about .background{
        margin:0;
    }
    .about__container{
        display:grid;
        grid-template-columns:100%;
        background-color:rgba(144, 200, 144, 0.541);
    }
    .about__images{
        display:none;
    }
    .blog-1{
        display:grid;
    }
    .blog-2{
        display:grid;
    }
    .blog-1 img{
        width:80%;
        height:auto;
    }
    .blog-2 img{
        width:80%;
        height:auto;
    }
    .stats__container{
        display:grid;
        padding:var(--normal-font-size);
    }
    .stats-2{
        display:none;
    }
    .stats__card{
        display:grid;
        background:white;
        width:10rem;
        line-height:15px;
        height:10rem;
        padding:1rem;
    }
    .contact__card{
        display:grid;

    }
    
}
@media(max-width:320px){
        .about__large__text{
            font-size:var(--large-font-size);
        }
        .stats__card{
            width:8rem;
        }
        .contact__card{
            height:70rem;
        }
        .contact__card img{
            position:relative;
            right:-2rem;
        }
}














































